table {
  font-family: "Arial", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
caption {
  background: #7c7cff;
  color: white;
  padding: 6px 12px;
  font-weight: bold;
}
th {
  color: #339;
  padding: 10px 12px;
 }
td {
  color: #669;
  /*border-bottom: 1px dashed #b6b6ff;*/
  padding: 10px 12px;
}
tr:hover td {
  background: #f2ff91; 
}
.table_tur
{
  float: right;
  margin-right: 35%;
}

/*Стили для отдельных столбцов/строк*/
.td_t { width: 155px; }
.td_d { width: 83px; }
.td_s { width: 23px; text-align: center; }
.td_t1 { text-align: right; }
.td_upd_sh { width: 15px; }
.tr_bg td { background: #e7e7ff; } 