table {
  font-family: "Arial", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}
caption {
  background: #7c7cff;
  color: white;
  padding: 6px 12px;
  font-weight: bold;
}
th {
  color: #339;
  padding: 10px 12px;
 }
td {
  color: #669;
  /*border-bottom: 1px dashed #b6b6ff;*/
  padding: 10px 12px;
}
tr:hover td {
  background: #f2ff91; 
}
.table_tur
{
  float: right;
  margin-right: 25%;
}

/*Стили для отдельных столбцов/строк*/
.td_t { width: 155px; }
.td_d { width: 83px; }
.td_s { width: 23px; text-align: center; }
.th_haed { width: 45px; text-align: center; }
.td_t1 { text-align: right; }
.td_upd_sh { width: 32px; }
.tr_bg td { background: #e7e7ff; } 
.tr_lc1 td { background: #fbffda; } 
.tr_lc2 td { background: #fffb9c; } 
.tr_le td { background: #fce898; } 
.tr_head_bg th { background: #46469b; color: aliceblue; } 
.apl tr td {text-align: center;}
.td_name {text-align: left !important;}

